.card {
  background-color: $ot-light;
  height: 100% !important;
}

.card-top-button {
  color: #dadce2;
}

.card-text {
  font-size: 30px;
}


.card-subtext {
  font-size: 12px;
  color: $ot-text2;
}

.card-subtext-red {
  font-size: 12px;
  color: $ot-red;
}

.card-subtext-green {
  font-size: 12px;
  color: $ot-green;
}